
# Compiled Python files
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environments
venv/
.venv/

/quality/trends/
# Editor directories and files
.vscode/
.idea/
current_work/
temp/
/experiments/
/quality_runs/

# Operating system files
.DS_Store
Thumbs.db

